<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_BrandCategoryLevel
 * @author     Extension Team
 * @copyright  Copyright (c) 2021 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_controller_category_init_after">
        <observer name="bss_brand_category_info_load" instance="Bss\BrandCategoryLevel\Observer\Category\BrandInfo" />
    </event>
<!--    <event name="catalog_block_product_list_collection">-->
<!--        <observer name="review" instance="Bss\BrandCategoryLevel\Observer\CatalogProductListCollectionCustomOrderFieldsObserver" shared="false" />-->
<!--    </event>-->
</config>
