& when (@media-common = true) {
  .cms-brands {
    .content-featured-brand,
    #maincontent {
      background:#2F3C4F;
    }
    .products-grid {
      .product-item-details {
        display: none;
      }
    }
    .brands-list-all,
    .content-list {
      .product-item-photo {
        margin-bottom: 0!important;
      }
      .filterproducts.products {
        margin: 0 -15px;
      }
      .products-grid.columns5 {
        .product-item {
          padding: 15px;
        }
      }
    }
    .content-list,
    .title-brand-list {
      background: #62A9A3;
    }
    .products-grid {
      + .toolbar.toolbar-products {
        margin-top:25px;
      }
    }
    .content-list {
      padding: 1px 0 130px;
    }
    .sorter-label {
      color:#fff;
    }
    .content-list {
      .products-grid {
        margin-top: 90px;
      }
    }
    .pages {
      .page,
      .action {
        color:#fff;
      }
      .action.next {
        &:before {
          color:#fff;
        }
      }
    }
    .content-featured-brand {
      padding: 70px 0 150px;
    }
    .product-item-photo {
      padding:12px 0;
    }
  }
  .title-brand-list {
    .tile-for {
      color:#FFEDC6;
      margin: 0 0 10px;
      padding-top: 160px;
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
  .cms-brands {
    .products-grid.columns5 {
      .product-item {
        &:nth-child(5n+1) {
          margin-left:0;
        }
        &:nth-child(5n) {
          margin-right:0;
        }
      }
    }
    .brand-content {
      .main-title {
        font-size:60px;
      }
    }
    .main-title {
      .tile-for {
        font-size:60px;
      }
    }
    .brand-content {
      .main-title {
        margin-top:60px;
        width:53%;
      }
    }
    .products-grid.columns5 {
      .product-item {
        width:20%;
      }
    }
  }
  .title-brand-list {
    .tile-for {
      font-size:60px!important;
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  .cms-brands {
    .main-title {
      .tile-for {
        font-size:37px;
      }
    }
    .products-grid.columns5 {
      .product-item {
        width:25%;
      }
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .cms-brands {
    .brand-content {
      .main-title {
        width:45%;
      }
    }
    .products-grid.columns5 {
      .product-item {
        width:33.333%;
      }
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .cms-brands {
    .products {
      margin:0;
    }
    .content-list {
      padding: 1px 0 60px;
      .filterproducts.products {
        margin:0;
      }
      .products-grid {
        margin-top:30px;
      }
    }
    .content-featured-brand {
      padding:0 0 50px;
    }
  }
  .title-brand-list {
    .tile-for {
      padding-top:60px;
    }
  }
}