& when (@media-common = true) {
  .content-home {
    background: #2F3C4F;
    color:#FFEFC8;
    padding-bottom: 30px;
    .brand-content {
      .main-title {
        margin-top: 125px;
        width: 44.5%;
      }
    }
  }
  .see-more-para {
    color: #A6DBCF;
  }
  .tritanobia {
    color: #B5E2C8;
  }

  .bg-red {
    background: #ef5a5d;
  }

  .color-yell {
    color: #FBB43B;
  }

  .title-brid {
    font-weight: 600;
  }

  #banner-slider-home {
    .item {
      img {
        margin: 0 auto;
      }
    }

    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .owl-prev {
      left: 30px;
    }

    .owl-next {
      right: 30px;
    }
  }

  .bridging {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    .text-brid {
      color: #FFEFC8;
      max-width: 845px;
    }

    .btn-cms {
      margin: 75px auto 0;
    }
  }

  #banner-slider-home {
    max-width: 1480px;
    margin: 0 auto;
  }

  .featured-branch-home {
    background: #62A7A1;
    padding: 155px 0;

    .title-brid {
      color: #FFEFC8;
    }

    .item-branch {
      margin: 0;
      list-style: none;

      .item {
        margin: 48px 0;
        float: left;

        &:nth-child(3n + 1) {
          clear: both;
        }
        a {
          display:block;
        }
      }

      &:after {
        clear: both;
        content: "";
        display: block;
      }
    }

    .btn-cms {
      margin: 0 auto;
    }
  }

  .custom-swag {
    background: #132B37;
    border-top: 5px solid #2F3C4F;

    .col-img {
      text-align: right;
    }
    .btn-cms {
      margin: 70px auto 0;
      max-width: 380px!important;
      width:100%;
      color:#fff!important;
      height: 70px;
      line-height: 47px;
    }
  }
  .content-one-two {
    border-bottom: 2px solid #62686e;
    .item {
      float: left;
    }
    .find-out {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 20px;
      font-family: @font-family__bothambook;
    }
    .work-close {
      padding-right:40px;
    }
    .content-find {
      float: right;
      max-width: 320px;
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
  #banner-slider-home {
    padding: 70px 0;
  }
  .content-home {
    .brand-content {
      .main-title {
        .tile-for {
          font-size:60px!important;
        }
      }
    }
  }
  .title-brid {
    font-size:60px;
    line-height: 72px;
  }
  .custom-swag {
    .content-contain {
      max-width: 600px;
      float: right;
      padding-left:25px;
    }
  }
  .bridging {
    padding: 20px 0 175px;
    .text-brid {
      font-size:30px;
      margin: 60px auto 0;
    }
  }
  .featured-branch-home {
    padding: 155px 0;
    .item-branch {
      padding: 40px 0 120px;
    }
  }
  .custom-swag {
    padding: 210px 0 125px;
    .text-pa {
      font-size: 30px;
      margin: 65px 0 60px;
    }
    .see-more-para {
      font-size: 48px;
      line-height: 48px;
    }
    .btn-cms {
      max-width: 380px !important;
      height: 70px;
      line-height: 47px;
    }
  }
  .content-one-two {
    padding: 125px 0px 142px;
    .find-out {
      font-size:30px;
      line-height:36px;
    }
    .interest {
      line-height: 70px;
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .title-brid {
    font-size: 40px;
    line-height: 45px;
  }
  .bridging {
    padding: 20px 20px 100px;
    .text-brid {
      font-size:25px;
      margin: 35px auto 0;
    }
  }
  .featured-branch-home {
    padding: 60px 0 95px;
    .item-branch {
      padding: 15px 0 35px;
    }
  }
  .custom-swag {
    padding: 60px 0 100px 20px;
    .text-pa {
      font-size: 25px;
      margin: 40px 0 40px;
    }
    .see-more-para {
      font-size: 35px;
      line-height: 35px;
    }
    .btn-cms {
      max-width: 260px !important;
      height: 48px;
      line-height: 27px;
    }
  }
  .content-one-two {
    padding:90px 0 90px;
    .find-out {
      font-size:25px;
    }
  }
  #banner-slider-home {
    padding:35px 0 0;
  }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .content-home {
    .owl-side-narrow {
      .owl-controls {
        display:block!important;
      }
    }
    #banner-slider-home {
      .owl-prev {
        left:0;
      }
      .owl-next {
        right:0;
      }
      .owl-prev,
      .owl-next {
        padding:0;
        margin:0;
      }
    }
  }
  .bridging {
    padding: 0 20px 60px;
    .btn-cms {
      margin: 35px auto 0;
    }
    .text-brid {
      font-size:15px;
    }
  }
  .featured-branch-home {
    padding:50px 0;
    .item-branch {
      padding: 0 0 30px;
      .item {
        margin:0;
        width:50%;
        &:nth-child(3n + 1) {
          clear: inherit;
        }
      }
    }
  }
  .custom-swag {
    padding: 50px 20px 70px;
    .btn-cms {
      height: 41px;
      line-height: 24px;
      max-width: 202px !important;
    }
  }
  .content-home {
    .brand-content {
      .main-title {
        margin-top:75px;
      }
    }
  }
  .content-one-two {
    padding: 55px 20px 70px;
    .title-brid {
      font-size:25px;
    }
    .find-out {
      font-size:15px;
      line-height:20px;
    }
    .content-find {
      float:none;
      max-width:100%;
    }
  }
  .text-pa {
    font-size:15px;
  }
  .see-more-para {
    font-size: 20px;
    line-height: 25px;
  }
}