<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Ui\Component\DataProvider\Document">
        <plugin name="Bss_BrandLandingPage::gridExport"
                type="Bss\BrandLandingPage\Plugin\Ui\Component\DataProvider\Document"
                sortOrder="30" />
    </type>
</config>
