<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: !nonOptions() -->
<select multiple class="admin__control-multiselect" data-bind="
    attr: {
        name: inputName,
        id: uid,
        size: size ? size : '6',
        disabled: disabled,
        'aria-describedby': noticeId,
        placeholder: placeholder
    },
    optgroup: options,
    selectedOptions: value,
    optionsValue: 'value',
    optionsText: 'label'"
/>
<!-- /ko -->
<!-- ko ifnot: !nonOptions() -->
<textarea class="admin__control-textarea" data-bind="
    value: value,
    valueUpdate: valueUpdate,
    attr: {
        name: inputName,
        cols: 10,
        rows: 10,
        'aria-describedby': noticeId,
        placeholder: placeholder,
        id: uid,
        disabled: disabled
    }"
/>
<!-- /ko -->

