<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <product_prefix>
            <general>
                <enable_sku_prefix>1</enable_sku_prefix>
                <sku_prefix>{"1":{"product_type":"downloadable","prefix":"DIGITAL-"},"2":{"product_type":"grouped","prefix":"GROUPED-"}}</sku_prefix>
            </general>
        </product_prefix>
    </default>
</config>
