<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bss" translate="label" sortOrder="300">
            <label><![CDATA[Bss Commerce]]></label>
        </tab>
        <section id="brand_representative" translate="label" sortOrder="222" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Brand Representative</label>
            <tab>bss</tab>
            <resource>Bss_BrandRepresentative::config</resource>
            <group id="featured_brands" translate="label" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20">
                <label>Featured Brands Configuration</label>
                <field id="brand_ids" translate="label comment" type="text" showInWebsite="1" showInStore="1" showInDefault="1" sortOrder="10">
                    <label>Featured Brand</label>
                    <frontend_model>Bss\BrandRepresentative\Block\Adminhtml\Form\Renderer\Config\BrandsTree</frontend_model>
                    <comment><![CDATA[Select brands category to show in cms block Featured Brand.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
