<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
<default>
  <restrictcustomergroup>
    <general>
      <enable_in_frontend>1</enable_in_frontend>
    </general>
  </restrictcustomergroup>
</default>
</config>
