<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <preference for="Bss\ProductStockAlert\Model\Observer\ApplyProductAlertOnCollectionAfterLoadObserver"
               type="Bss\CustomizeProductStockAlert\Model\Observer\ApplyProductAlertOnCollectionAfterLoadObserverOverride" />
</config>
