<?xml version="1.0"?>
<!--
/**
 * Password Protected
 *
 * @category    Addify
 * @package     Addify_PasswordProtected
 * @author      Addify
 * @Email       addifypro@gmail.com
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="addify_extensions" translate="label" sortOrder="200">
            <label>Addify</label>
        </tab>
        <section id="passwordprotected" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Password Protected</label>
            <tab>addify_extensions</tab>
            <resource>Addify_PasswordProtected::passwordprotected_config</resource>
            <!-- GENERAL -->
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>




            </group>
            <group id="pagesetting" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Restrict Page Setting</label>
                <field id="heading" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Heading</label>
                </field>
                <field id="label" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Label Text</label>
                </field>
                <field id="button" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Button Text</label>
                </field>
                <field id="rightheading" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Heading</label>
                </field>
                <field id="description" translate="label" type="editor" sortOrder="11" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Description</label>
                    <frontend_model>Addify\PasswordProtected\Model\Config\Source\Editor</frontend_model>

                </field>


            </group>
            <group id="seosuffix" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Search Engine Optimization</label>
                <field id="identifier" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Password Protected Identifier</label>
                    <comment>Password Protected Identifier</comment>
                </field>
                <field id="url_suffix" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>URL Suffix</label>
                    <comment>(eg: .html)</comment>
                </field>
                <field id="title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Title</label>
                </field>
                <field id="googleenabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled Googele Bot</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

            </group>
        </section>
    </system>
</config>