<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <preference for="Bss\CustomerToSubUser\Model\ResourceModel\Customer\Grid\Collection"
               type="Bss\CustomizeCompanyAccount\Model\ResourceModel\Grid\Customer\Collection"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter">
        <plugin name="Bss_CustomizeCompanyAccount::full_text_search_sub_user"
                type="Bss\CustomizeCompanyAccount\Plugin\UiComponent\DataProvider\FulltextFilter"
                sortOrder="30" />
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter">
        <plugin name="Bss_CustomizeCompanyAccount::regular_filter_sub_user"
                type="Bss\CustomizeCompanyAccount\Plugin\UiComponent\DataProvider\RegularFilter"
                sortOrder="30" />
    </type>

    <type name="Magento\Customer\Controller\Adminhtml\Index\InlineEdit">
        <plugin name="Bss_CustomizeCompanyAaccount::no_edit_inline_subUser"
                type="Bss\CustomizeCompanyAccount\Plugin\Controller\Customer\Adminhtml\Index\InlineEdit"
                sortOrder="30"/>
    </type>
</config>
