<div class="business-card">
    <div class="profile">
        <div class="profile-image" data-bind="
            css: {
                waiting: !wasAssigned(),
                'man-avatar': wasAssigned()
            }
        "></div>
        <div class="profile-title">
            <h1 class="name" data-bind="css: { waiting: !wasAssigned() }, text: companyAccount()['name'] || ''"></h1>
            <h3 class="group" data-bind="css: { waiting: !wasAssigned() }, text: companyAccount()['lock_expires'] || ''"></h3>
            <span class="store-view" data-bind="css: { waiting: !wasAssigned() }, text: companyAccount()['created_in'] || ''"></span>
        </div>
    </div>
    <div class="info">
        <div class="info-contact">
            <span class="info-text" data-bind="css: { waiting: !wasAssigned(), phone: wasAssigned() }, text: companyAccount()['billing_telephone'] || ''"></span>
            <span class="info-text" data-bind="css: { waiting: !wasAssigned(), email: wasAssigned() }, text: companyAccount()['email'] || ''"></span>
            <span class="info-text" data-bind="css: { waiting: !wasAssigned(), website: wasAssigned() }, text: companyAccount()['confirmation'] || ''"></span>
        </div>
        <div class="info-address">
            <p data-bind="css: { waiting: !wasAssigned() }, text: companyAccount()['shipping_full'] || ''" style="min-height: 40px"></p>
        </div>
    </div>
</div>
<input readonly class="admin__control-text" type="text" style="display: none"
       data-bind="
        event: {change: userChanges},
        value: value,
        hasFocus: focused,
        valueUpdate: valueUpdate,
        attr: {
            name: inputName,
            placeholder: placeholder,
            'aria-describedby': noticeId,
            id: uid,
            disabled: disabled,
            maxlength: 255
    }"/>
