<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="bss_brandRepresentative" frontName="bss_brandRepresentative">
            <module name="Bss_BrandRepresentative" />
        </route>
    </router>
</config>
