<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bss_company_account>
            <email>
                <convert_customer_to_sub_user>
                    bss_company_account_email_convert_customer_to_sub_user
                </convert_customer_to_sub_user>
            </email>
        </bss_company_account>
    </default>
</config>
