<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="company_account_listing_data_source" xsi:type="string">Magento\Customer\Model\ResourceModel\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Bss\CompanyAccount\Model\ResourceModel\SubUser">
        <plugin name="validate_unique_email_plugin"
                type="Bss\CustomerToSubUser\Plugin\Model\ResourceModel\ValidateUniqueEmailPlugin" sortOrder="20"/>
    </type>
    <type name="Bss\CompanyAccount\Model\ResourceModel\Customer">
        <plugin name="validate_unique_email_plugin"
                type="Bss\CustomerToSubUser\Plugin\Model\ResourceModel\ValidateUniqueEmailPlugin" sortOrder="20"/>
    </type>
    <type name="Magento\Customer\Model\Customer\DataProviderWithDefaultAddresses">
        <plugin name="load_company_account_assigned_plugin"
                type="Bss\CustomerToSubUser\Plugin\Model\Customer\CompanyAccountAssignedInfoPlugin" sortOrder="20" />
    </type>
    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="customer_reset_password"
                type="Bss\CustomerToSubUser\Plugin\Model\Customer\AccountManagement" sortOrder="20" />
    </type>

    <type name="Bss\CompanyAccount\Model\SubUser">
        <plugin name="sub_user_can_access_plugin"
                type="Bss\CustomerToSubUser\Plugin\Model\SubUser"
                sortOrder="20" />
    </type>

    <preference for="Bss\CustomerToSubUser\Api\CompanyAccountManagementInterface"
                type="Bss\CustomerToSubUser\Model\CompanyAccountManagement"/>
</config>
