<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <brand_contact>
            <popup_options>
                <width>800px</width>
                <height>600px</height>
                <openEffect>elastic</openEffect>
                <closeEffect>elastic</closeEffect>
            </popup_options>
        </brand_contact>
    </default>
</config>
