<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <type name="Mageplaza\Core\Observer\PredispatchAdminActionControllerObserver">
       <plugin name="disable_admin_notification"
               type="Bss\AggregateCustomize\Plugin\Mageplaza\Core\Observer\DisableAdminNotification"
               sortOrder="20" />
   </type>
</config>
