<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <type name="Bss\B2bRegistration\Controller\Account\CreatePost">
       <plugin name="keep_stay_in_brand_landing_page"
               type="Bss\BrandLandingPage\Plugin\Controller\Account\CreatePost"
               sortOrder="30" />
   </type>
</config>
