<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_HideProductField
 * @author     Extension Team
 * @copyright  Copyright (c) 2018-2019 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bss" translate="label" sortOrder="300">
            <label><![CDATA[Bss Commerce]]></label>
        </tab>
        <section id="hide_field" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label><![CDATA[Hide Attributes]]></label>
            <tab>bss</tab>
            <resource>Bss_HideProductField::customfield</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[General]]></label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Enable]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Version 1.0.0]]></comment>
                </field>
                <field id="attributes" translate="label" type="multiselect" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Hide Additional Attributes]]></label>
                    <source_model>Bss\HideProductField\Model\Config\Source\Attributes</source_model>
                    <comment><![CDATA[Choose attributes which can't display in backend product page.]]></comment>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="media_attributes" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Hide Media Attributes]]></label>
                    <source_model>Bss\HideProductField\Model\Config\Source\MediaAttributes</source_model>
                    <comment><![CDATA[Choose media attributes which unavailable in gallery media.]]></comment>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="visibility_options" translate="label comment" type="multiselect" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Hide Visibility Options]]></label>
                    <source_model>Magento\Catalog\Model\Product\Visibility</source_model>
                    <comment><![CDATA[Choose visibility options to display.]]></comment>
                    <can_be_empty>1</can_be_empty>
                </field>
<!--                <field id="default_visibility_option" translate="label comment" sortOrder="100" showInWebsite="1" showInStore="1" showInDefault="1">-->
<!--                    <label><![CDATA[Default Visibility Option]]></label>-->
<!--                    <frontend_model>Bss\HideProductField\Block\Adminhtml\System\Config\DefaultVisibilityOption</frontend_model>-->
<!--                </field>-->
            </group>
        </section>
    </system>
</config>
