<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="order_restriction" id="order_restriction">
            <module name="Bss_OrderRestriction"/>
        </route>
    </router>
</config>
